.display-frame {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  border: 2px solid rgb(108, 98, 94);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  // height: fit-content;
  width: 100vw;

  .display-top {
    flex: 1;

    .hero-image {
      align-items: center;
      flex-direction: column-reverse;
      height: auto;
      width: 80%;

      img {
        height: auto;
        width: 80%;
      }
    }
  }

  div {
    div {
      display: flex;
    }

    table {
      width: 100%;
    }
  }
}

.sprite-artwork {
  border: 1px solid black;
  flex-wrap: wrap;
  width: min-content;
  height: min-content;
  background-image: url("../assets/battlegrass.png");
  background-repeat: no-repeat;
  background-size: 288px 192px;
  flex: none;

  div {
    flex: none;
    // width: 100%;
    justify-content: space-between;
    height: 96px;
    // width: 96px;
  }
  .filler {
    flex: none;
    width: 192px;
    height: 96px;
  }
}

.stat-table {
  width: 100%;
}

.inner-table {
  width: 100%;
  border-radius: 1rem;

  tbody > tr {
    display: flex;

    td {
      flex: 1;
      background-color: cornsilk;
      border-radius: 1rem;
    }
  }
}

.stat-bg {
  height: 1rem;
  margin: 2px;
  width: 255px;
}

.hit-points {
  background-color: #e83b3b;
}
.attack {
  background-color: #783a29;
}

.defense {
  background-color: #2fb6c3;
}

.special-attack {
  background-color: #69189c;
}

.special-defense {
  background-color: #2a5684;
}

.speed {
  background-color: #6fba3b;
}
