.display-frame {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  border: 2px solid rgb(108, 98, 94);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  .display-top {
    flex: 1;

    .hero-image {
      flex-direction: column-reverse;
      height: auto;
      width: 80%;

      img {
        height: auto;
        width: 80%;
      }
    }
  }

  div {
    flex: 1;

    div {
      display: flex;
    }

    table {
      width: 100%;
    }
  }
}

// .official-artwork {
//   height: auto;
//   width: 80%;
// }

.sprite-artwork {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;

  div {
    width: 100%;
    justify-content: space-between;
  }
  .filler {
    min-width: 96px;
    min-height: 96px;
    height: auto;
    width: auto;
  }
}
.stat-info {
  border: 1px solid #000000;
}

.stat-table {
  width: 100%;
}

.inner-table {
  width: 100%;

  tbody > tr {
    display: flex;

    td {
      flex: 1;
    }
  }
}

.stat-bg {
  height: 1rem;
  margin: 2px;
  width: 255px;
}

.hit-points {
  background-color: #e83b3b;
}
.attack {
  background-color: #783a29;
}

.defense {
  background-color: #2fb6c3;
}

.special-attack {
  background-color: #69189c;
}

.special-defense {
  background-color: #2a5684;
}

.speed {
  background-color: #6fba3b;
}
