.query-frame {
  flex: 1;
  border: 2px solid rgb(108, 98, 94);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-left: 10vw;
  background-color: rgb(214, 82, 85);

  div {
    margin-top: 2rem;
  }
}
