.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.headshot {
  flex-wrap: wrap;
  margin: 0 1rem;
}

.headshot-image {
  min-height: 96px;
  min-width: 96px;
  background-color: #12c2f8;
  border: solid;
  border-image: url("../assets/borderbox-dark.png") 25 / 10px 10px 10px 10px;
}

h5 {
  background-color: #f4f4f4;
  border-radius: 1rem;
  border: 2px solid rgb(82, 75, 73);
  margin: 0 0 1rem 0;
}

@media only screen and (max-width: 768px) {
  .flex-wrapper {
    margin: 0;
    // justify-content: center;
    font-size: smaller;
    overflow: hidden;
    .headshot {
      margin: 0;
    }
    .headshot-image {
      min-height: 32px;
      min-width: 32px;
      height: 32px;
      width: 32px;
      background-color: #12c2f8;
      border: solid;
      border-image: url("../assets/borderbox-dark.png") 25 / 10px 10px 10px 10px;
    }
  }
}
