.search-wrapper {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    position: relative;
    flex-direction: column;

    div {
      flex-direction: row;
    }
  }

  input {
    width: 80%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
    border-radius: 1rem;
  }

  ul {
    position: absolute;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
    width: 80%;
    background-color: #f4f4f4;
    list-style: none;
    border-bottom-left-radius: 1rem;
  }

  li {
    padding: 10px 5px;
    z-index: 10;
    cursor: pointer;
  }
  li:hover {
    text-decoration: underline;
    background-color: #12c2f8;
  }
}
